/* css styles */

.home-page-package-card:hover,
.home-page-org-card:hover,
.org-page-card:hover {
    transition: all 300ms linear;
}

.home-page-package-card:hover,
.home-page-org-card:hover,
.org-page-card:hover {
    border: 1px solid var(--bs-primary);
}