/*-- scss:defaults --*/
// Base document colors
$julia-blue: #4063D8;
$primary: $julia_blue;
$body-bg: lighten($primary, 40%);
$body-color: darken($primary, 40%);

// Navbar
$navbar-bg: lighten($primary, 30%);

// Footer
$footer-bg: lighten($primary, 30%);