<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{if hasmath}} {{insert head_katex.html }}     {{end}}
  {{if hascode}} {{insert head_highlight.html }}   {{end}}
  <link rel="stylesheet" href="/css/franklin.css">
  <link rel="stylesheet" href="/css/basic.css">
  <link rel="icon" href="/favicon.ico">
  {{isdef title}} <title>{{fill title}}</title>  {{end}}
</head>
<body>
  <header>
    <div class="blog-name"><a href="/">JuliaHealth</a></div>
    <img src="/assets/julia-health-logo.png" alt="JuliaHealth logo" title="JuliaHealth logo" style="width: 25%; align:center" />
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="https://github.com/JuliaHealth">GitHub</a></li>
        <li><a href="/related-organizations">Related Organizations</a></li>
        <li><a href="/meeting-notes">Meeting Notes</a></li>
        <li><a href="/GSoC">GSoC</a></li>
        <li><a href="/tutorials">Tutorials</a></li>
      </ul>
      <img src="/assets/hamburger.svg" id="menu-icon">
    </nav>
  </header>

<!-- Content appended here -->
